#ajaxed-comments {
	padding-top: 10px;
	display: none;
}
.wp-default #ajaxed-comments-box, .ac-mini-info-box.wp-default {
	width: 100%;
	font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
	padding: 0;
	background-color: #FFEBE8;
    border-color: #CC0000;
	border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
	color: #333;
	text-align: center;
}
.wp-default .ac-inside-box, .ac-mini-info-box.wp-default div {
	padding: 10px;
}
.bootstrap #ajaxed-comments-box, .ac-mini-info-box.bootstrap {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
	padding: 0;
	background-color: #F2DEDE;
    border-color: #EED3D7;
	border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
	color: #B94A48;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.bootstrap .ac-inside-box, .ac-mini-info-box.bootstrap div {
	padding: 8px 14px;
}
#ac-spinner {
	background: url('../../../../wp-admin/images/wpspin_light.gif') no-repeat;
	background-size: 16px 16px;
	display: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
	margin-left: 0.3em;
	position: relative;
	vertical-align: middle;
}
.ac-comm-spinner {
	background: url('../../../../wp-admin/images/wpspin_light.gif') no-repeat;
	background-size: 16px 16px;
	display: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
	margin-left: 0.3em;
	position: relative;
	vertical-align: middle;
}
.ac-mini-info-box {
	display: none;
}
.ac-textarea {
	width: 0;
}
.ac-textarea textarea {
	width: 100%;
	height: 150px;
}
.ac-hide-row-actions {
	visibility: hidden;
}
.edit-time-remaining {
	margin-left: 0.3em;
}
a.ac-button, span.ac-button {
	padding:0 0.3em 0 0;
}
a.ac-button.wp-default, span.ac-button.wp-default {
	font-family: sans-serif;
    line-height: 18px;
    padding: 0 8px;
    background: linear-gradient(to bottom, #FEFEFE, #F4F4F4) repeat scroll 0 0 #F3F3F3;
    border-color: #BBB;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
	-moz-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
	font-style:normal;
    margin: 0 0.1em;
    text-decoration: none;
    white-space: nowrap;
	outline: none;
}
span.ac-button.wp-default {
	cursor: default;
}
span.ac-button.wp-default.disabled {
    background: linear-gradient(to bottom, #EEE, #E4E4E4) repeat scroll 0 0 #E3E3E3;
    color: #AAA;
	cursor: default;
}
a.ac-button.wp-default:hover, a.ac-button.wp-default:focus {
    background: linear-gradient(to bottom, #FFFFFF, #F3F3F3) repeat scroll 0 0 #F3F3F3;
    border-color: #999999;
    color: #222222;
}
a.ac-button.bootstrap, span.ac-button.bootstrap {
	font-family: sans-serif;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-right:0.3em;
	margin-bottom: 0;
	*margin-left: .3em;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	font-style:normal;
	vertical-align: middle;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-style: solid;
    border-width: 1px;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	padding: 2px 10px;
	font-size: 12px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
span.ac-button.bootstrap {
	cursor: default;
}
span.ac-button.bootstrap.disabled {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a.ac-button.bootstrap:hover, a.ac-button.bootstrap:focus {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}